.timeline {
border-left: 5px solid #bd5d3866;
padding-left: 5px;
}

#rightSide {
    text-align: center;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
.bg-gradient {
  background:  linear-gradient(45deg,var(--indigo),var(--pink));
}

.text-gradient {
  background-color:#8121ff;
  background-image: linear-gradient(45deg,var(--indigo),var(--pink));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}